.container {
    background-color: #264653c7; /* Color de fondo */
    border-radius: 20px; /* Bordes redondeados */
    padding: 50px 20px; /* Espaciado interno */
    display: flex; /* Usar flexbox */
    justify-content: space-around; /* Espacio entre los elementos */
    align-items: center; /* Centrar verticalmente */
    width: 40%; /* Ancho del contenedor */
    margin: 30vh auto; /* Centrar horizontalmente */
}

.item {
    display: flex; /* Usar flexbox */
    flex-direction: column; /* Colocar los elementos en columna */
    align-items: center; /* Centrar horizontalmente */
    color: white; /* Color del texto */
}

.menu-icon {
    width: 100px; /* Ancho del ícono */
    height: 100px; /* Altura del ícono */
    margin-bottom: 10px; /* Espacio debajo del ícono */
}

.title {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  width: 100%;
}